[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask-mongoengine = "==0.9.5"
dnspython = "==2.0.0"
flask-restful = "==0.3.8"
flask-bcrypt = "==0.7.1"
flask-jwt-extended = "==3.25.0"
aniso8601 = "==8.0.0"
bcrypt = "==3.2.0"
cffi = "==1.14.3"
click = "==7.1.2"
flash = "==1.0.3"
flask-wtf = "==0.14.3"
gunicorn = "==20.0.4"
itsdangerous = "==1.1.0"
mongoengine = "==0.20.0"
pycparser = "==2.20"
pyjwt = "==1.7.1"
pymongo = "==3.11.0"
pytz = "==2020.4"
six = "==1.15.0"
wtforms = "==2.3.3"
Flask = "==1.1.2"
Jinja2 = "==2.11.2"
MarkupSafe = "==1.1.1"
Werkzeug = "==1.0.1"
flask-mail = "*"
decouple = "*"

[dev-packages]

[requires]
python_version = "3.7"
